<p id="notice"><%= notice %></p>

<h1>Cars</h1>
<table>
  <thead>
    <tr>
      <th>Licenseplatenumber</th>
      <th>Manufacturer</th>
      <th>Model</th>
      <th>Hourlyrentalrate</th>
      <th>Style</th>
      <th>Location</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.licensePlateNumber %></td>
        <td><%= car.manufacturer %></td>
        <td><%= car.model %></td>
        <td><%= car.hourlyRentalRate %></td>
        <td><%= car.style %></td>
        <td><%= car.location %></td>
        <td><%= car.status %></td>

 <td><%= link_to 'Show', car %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

